.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1px solid grey;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
    
}

.header_left {
    display: flex;
    padding: 5px;
}
.header_left > .logo {
    object-fit: contain;
    width: 30px;
    margin-right: 10px;
}
.header_search {
    display: flex;
    align-items: center;
    background-color: #eef3f8;
    padding: 0.8rem ;
    color: gray;
    border-radius: 5px;
    height: 12px;
}
.header_search > input {
    outline: none;
    border: none;
    background-color: #eef3f8;

}

.header_right{
    display: flex;
}