.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    cursor: pointer;
    margin-right: 20px;
}
.headerOption_icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;

}
.headerOption:hover {
    color: #000;
}
.headerOption_title {
    font-size: 12px;
    font-weight: 400;
}